<div class="footer">	

	<div class="text-wrapper">

		<span class="header contact-header">Contact Me</span>
		
		<div class="contact">
			
			<f:link.typolink parameter="{general_data.tx_mask_facebook_link}" title="Facebook" class="link facebook-link" target="_blank">
				<div class="facebook-wrapper">
					<i class="icon-facebook"></i>
				</div>
			</f:link.typolink>

			<f:link.typolink parameter="{general_data.tx_mask_mail_adress}" title="Mail" class="link mail-link">
				<div class="mail-wrapper">
					<i class="icon-envelop"></i>
					<span class="mail-adress">{general_data.tx_mask_mail_adress}</span>
				</div>
			</f:link.typolink>

			<f:link.typolink parameter="{general_data.tx_mask_instagram_link}" title="LinkedIn" class="link linkedin-link" target="_blank">
				<div class="linkedin-wrapper">
					<i class="icon-linkedin2"></i>
				</div>
			</f:link.typolink>
			
			<f:link.typolink parameter="tel:{general_data.tx_mask_phone_number}" title="anrufen" class="link phone-link">
				<div class="phone-wrapper">
					<i class="icon-phone"></i>
					<span class="phone-number">{general_data.tx_mask_phone_number}</span>
				</div>
			</f:link.typolink>	
		</div>

		<div class="mail-registration">
			<span class="header mail-registration-header">Sign in to my newsletter</span>
		</div>

		<f:link.typolink parameter="2" title="Imprint" class="link imprint-link">
			<span class="header imprint-header">Imprint</span>
		</f:link.typolink>

		<span class="made-by-text">
			Made with <i class="icon-love heart"></i> by
			<f:link.typolink parameter="www.facebook.com/jakob.dellago" title="Jakob" class="facebook-link-jakob" target="_blank">
				Jakob
			</f:link.typolink>
		</span>

		<span class="copyright-text">© 2018 Eve Konstantine</span>
	

	</div>

	<picture class="picture">
	    <source 
	    	media="(max-width: 812px)" 
	    	srcset="{f:uri.image(src:'fileadmin\resources\images\eve.JPG', width:'812c')}, 
	    			{f:uri.image(src:'fileadmin\resources\images\eve.JPG', width:'1624c')} 2x"
	    >
	   	<source 
	    	media="(max-width: 1280px)" 
	    	srcset="{f:uri.image(src:'fileadmin\resources\images\eve.JPG', width:'1280c')}, 
	    			{f:uri.image(src:'fileadmin\resources\images\eve.JPG', width:'2560c')} 2x"
	    >
	   	<source 
	    	media="(min-width: 1921px)" 
	    	srcset="{f:uri.image(src:'fileadmin\resources\images\eve.JPG', width:'2400c')}"
	    >
	    <f:image src="fileadmin\resources\images\eve.JPG"
	    	width="1920c"
	        title="Eve"
	        alt="Eve"
	    />
	</picture>


</div>
