{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{v:content.get(column: 100, pageUid: 1, limit: 1) -> f:variable(name: 'general_data')}

<html>

    <body>
    	<div class="cookiebanner hidden">
    		<f:render partial="Cookiebanner" arguments="{cookiebanner_text: general_data.0.bodytext}"/> 
    	</div>

		<div class="main-container">

			<f:comment>
				<div class="main-nav">
					<f:format.raw>{MAINMENU}</f:format.raw>
				</div>
			</f:comment>

			<div class="mobile-nav">
				<div class="contact-button-wrapper">
					<span class="contact-button">
						Contact
					</span>
				</div>
		    	<f:link.typolink parameter="1" title="Home" class="header-wrapper">
		    		<span class="header">
		    			Eves Coaching
		    		</span>
				</f:link.typolink>
				<div class="icon-wrapper">
					<i class="icon-arrow-down">
					</i>
				</div>
			    <f:comment>
					<f:format.raw>{MOBILEMENU}</f:format.raw>
				</f:comment>
			</div>

			<div class="header">
				
				<f:format.raw>{HEADERSLIDER}</f:format.raw>

				<div class="menu-points-wrapper">
					{v:content.get(column: 0) -> f:variable(name: 'menu-points')}
					<f:for each="{menu-points}" as="menu-point">
	         			<f:if condition="{menu-point.tx_mask_create_menu_point}">
	         				<div class="menu-point" data-scroll-to-uid="{menu-point.uid}">
	         					<span class="menu-point-header">
	         						<f:if condition="{menu-point.tx_mask_menu_point_header}">
	         							<f:then>
	         								{menu-point.tx_mask_menu_point_header}
	         							</f:then>
	         							<f:else>
	         								{menu-point.header}
	         							</f:else>
	         						</f:if>
	         					</span>
	         				</div>
	         			</f:if>
					</f:for>
				</div>
			</div>

			<div class="content">
				<f:format.raw>{CONTENT}</f:format.raw>
				<v:condition.iterator.contains needle="8" haystack="{v:page.rootline() -> v:iterator.extract(key: 'uid')}">
	   				<f:format.raw>{SMALL_SLIDER}</f:format.raw>
				</v:condition.iterator.contains>
			</div>

			<f:render partial="footer" arguments="{general_data: general_data.0}"/> 
		</div>
		<script src="http://jozeedesign.at/fileadmin/resources/javascript/main.js"></script>
	</body>

   <f:comment>
   		<body class="no-be-login">
		   	  <img src="fileadmin\resources\images\work_in_progress.jpg" alt="work-in-progress" title="work-in-progress">
		      <h1>
		      		Please log in too see content: <a href="http://jozeedesign.at/typo3/">http://jozeedesign.at/typo3/</a>
	   		  </h1>
  		</body>
   </f:comment>


</html>